<div class="clearfix"></div>
<div class="footer1 two">
    <div class="container">
        <div class="one_fourth">
            <h4 class="white">About Foxu</h4>
            <div class="footer_title_line"></div>
            <ul class="quick_links">
                <li><a href="#">About US</a></li>
                <li><a href="#">Contact US</a></li>
                <li><a href="#">Hosting Plans</a></li>
                <li><a href="#">Affliates</a></li>
                <li><a href="#">Our History</a></li>
                <li><a href="#">Tech Support</a></li>
                <li><a href="#">My Account</a></li>
            </ul>
            <div class="newsletter">
                <p class="padd_bot1 margin_top1"> Sign up for special offers</p>
                <form method="get" action="#">
                    <input class="email_input" name="samplees" id="samplees" value="E-mail Address"
                        onFocus="if(this.value == 'E-mail Address') {this.value = '';}"
                        onBlur="if (this.value == '') {this.value = 'E-mail Address';}" type="text">
                    <input name="" value="Submit" class="email_submit two" type="submit">
                </form>
            </div>
        </div>
        <!--end about foxu-->

        <div class="one_fourth">
            <h4 class="white">Latest Blog Posts</h4>
            <div class="footer_title_line"></div>

            <div class="post_holder first active">
                <div class="img_holder">
                    <div class="img"><img src="assets/images/site-img70.jpg" alt="" class="img_size1" /></div>
                </div>
                <div class="text">
                    <a href="#"><span class="bold">Suspendisse imperdiet</span></a>
                    <p>Lorem ipsum dolor sit et</p>
                    <span class="info">By John Doe / 25 July</span>
                </div>
            </div>
            <!--end item-->

            <div class="post_holder">
                <div class="img_holder">
                    <div class="img"><img src="assets/images/site-img71.jpg" alt="" class="img_size1" /></div>
                </div>
                <div class="text">
                    <a href="#"><span class="bold">Suspendisse imperdiet</span></a>
                    <p>Lorem ipsum dolor sit et</p>
                    <span class="info">By John Doe / 25 July</span>
                </div>
            </div>
            <!--end item-->

            <div class="post_holder last">
                <div class="img_holder">
                    <div class="img"><img src="assets/images/site-img72.jpg" alt="" class="img_size1" /></div>
                </div>
                <div class="text">
                    <a href="#"><span class="bold">Suspendisse imperdiet</span></a>
                    <p>Lorem ipsum dolor sit et</p>
                    <span class="info">By John Doe / 25 July</span>
                </div>
            </div>
            <!--end item-->



        </div>
        <!--end products and services-->

        <div class="one_fourth">
            <h4 class="white">Products & Services</h4>
            <div class="footer_title_line"></div>
            <ul class="quick_links">
                <li><a href="#">Website Management</a></li>
                <li><a href="#">Domain Services</a></li>
                <li><a href="#">Email Services</a></li>
                <li><a href="#">E-Commerce Services</a></li>
                <li><a href="#">Scripting & Add-ons</a></li>
                <li><a href="#">Marketing Services</a></li>
                <li><a href="#">E-Commerce Services</a></li>
                <li><a href="#">Scripting & Add-ons</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Documentation</a></li>
            </ul>
        </div>

        <div class="one_fourth last">
            <h4 class="white">Legal and Help</h4>
            <div class="footer_title_line"></div>
            <ul class="quick_links">
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Tech Support</a></li>
                <li><a href="#">My Account</a></li>
                <li><a href="#">Legal</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Report Abuse</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Copyright</a></li>
                <li><a href="#">Subpoenas</a></li>

            </ul>
        </div>
        <!--end need help-->
    </div>
</div>
<!--end footer-->
<div class="footer_payment_types">
    <div class="container">
        <ul class="payment_logos">
            <li class="white">Payments <br />
                We Accept</li>
            <li><img src="assets/images/payment_logo1.jpg" alt="" /></li>
            <li><img src="assets/images/payment_logo2.jpg" alt="" /></li>
            <li><img src="assets/images/payment_logo3.jpg" alt="" /></li>
            <li><img src="assets/images/payment_logo4.jpg" alt="" /></li>
            <li><img src="assets/images/payment_logo5.png" alt="" /></li>
        </ul>
        <ul class="payment_logos two">
            <li class="white">Our <br />
                Awards</li>
            <li><img src="assets/images/award-img3.png" alt="" /></li>
            <li><img src="assets/images/award-img2.png" alt="" /></li>
            <li><img src="assets/images/award-img1.png" alt="" /></li>
            <li><img src="assets/images/award-img4.png" alt="" /></li>
            <li><img src="assets/images/award-img2.png" alt="" /></li>
            <li><a href="#" class="chat_but"><i class="fa fa-comments"></i> Live Chat</a></li>
        </ul>
    </div>
</div>
<!--end payment types-->

<div class="copyrights">
    <div class="container">
        <div class="one_half"><span>Copyright © 2014 - 2019 <a href="#">Foxuhost</a> By <a href="#">codelayers.net</a> |
                All rights reserved.
            </span></div>
        <div class="one_half last">
            <ul class="social_icons">
                <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-wordpress"></i></a></li>
                <li><a href="#"><i class="fa fa-android"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<!--end copy rights-->