<section>
    <div class="container">
        <h1 class="banner-text"><b>WHAT ARE WE ALL ABOUT?</b></h1>
        <p>Formed in 2016, MdlHost.Net has set the standard for high-performance Web hosting services. We are dedicated to provide the best web hosting services in the industry. MdlHost.Net is a debt-free and profitable privately held corporation licensed in the State of Delaware, USA And Dhaka , Bangladesh.</p>
        <br>
    
        
        <p>Our roots go back over a decade in the reseller hosting industry. We enable individuals and businesses to acquire and create their web hosting companies, unique identities and brands on the internet with our industry leading reseller hosting plans. Our mission is to give our valued customers outstanding support and reliable reseller hosting with many features at an affordable price. MdlHost.Net offers a wide selection of reseller plans for every budget including Budget plans to our high performance VIP or Corporate VIP reseller plans. We want to make you a promise that we will always deliver quality reseller web hosting service, excellent friendly support and treat you like family.</p>
    </div>
</section>
