<section>
    <div class="container">
        <h1 class="banner-text"><b>Terms & Conditions</b></h1>
        <div>
            <h3><strong>Acceptance of our Terms</strong></h3>
            <p>By visiting the website MDL Host , viewing, accessing or otherwise using any of the services or information created, collected, compiled or submitted to  MDL Host, you agree to be bound by the following Terms and Conditions of Service. If you do not want to be bound by our Terms your only option is not to visit, view or otherwise use the services of MDL Host. You understand, agree and acknowledge that these Terms constitute a legally binding agreement between you and MDL Host and that your use of  Mass Data Ltd shall indicate your conclusive acceptance of this agreement.</p>

            <h3 class="terms"><strong >Provision of Services</strong></h3>

            <p>You agree and acknowledge that  MDL Host is entitled to modify, improve or discontinue any of its services at its sole discretion and without notice to you even if it may result in you being prevented from accessing any information contained in it. Furthermore, you agree and acknowledge that MDL Host is entitled to provide services to you through subsidiaries or affiliated entities.</p>
        </div>
        <br>
    
        
        <p>The privacy statement was last updated on 02/10/2022.</p>
    </div>
</section>


