<div class="section_holder31">
    <div class="container">
        <div class="one_half">
            <h1 class="lt_title_medium">Domain <span>Search</span></h1>
            <p> Includes FREE Email Accounts and Privacy Protection</p>
            <br />
            <div class="domain_search_holder">
                <form method="get" id="domain-searchform"
                    action="https://codelayers.net/foxuhost/layout2/fullwidth/blog.html">
                    <div>
                        <input class="input-text" name="dsearch" id="dsearch" value="Enter your Domain Name here..."
                            onFocus="if (this.value == 'Enter your Domain Name here...') {this.value = '';}"
                            onBlur="if (this.value == '') {this.value = 'Enter your Domain Name here...';}"
                            type="text" />
                        <select class="drlist">
                            <option value=".com">.com</option>
                            <option value=".co">.co</option>
                            <option value=".net">.net</option>
                            <option value=".org">.org</option>
                            <option value=".biz">.biz</option>
                            <option value=".us.com">.us.com</option>
                            <option value=".us">.us</option>
                            <option value=".mobi">.mobi</option>
                            <option value=".info">.info</option>
                        </select>
                        <input id="searchsubmit" value="Go" type="submit" />
                    </div>
                </form>
            </div>
            <!--end domain search-->
            <div class="clearfix"></div>
            <ul class="tld_list">
                <li class="first">Domain Names From <span class="price">$4.99</span></li>
                <li><span class="tld">.com</span><span class="price2">$8.99</span></li>
                <li><span class="tld two">.in</span><span class="price2">$12.99</span></li>
                <li><span class="tld three">.org</span><span class="price2">$13.99</span></li>
                <li class="last"><span class="tld four">.biz</span><span class="price2">$15.99</span></li>
            </ul>
        </div>
        <!--end item-->

        <div class="one_half last">
            <h1 class="lt_title_medium">Web Hosting <span>Plans</span></h1>
            <p>Affordable. Reliable. Secure.</p>
            <br />
            <div class="plan_list">
                <ul class="feature_list">
                    <li><i class="fa fa-check"></i> Unlimited Domains, Email & Space</li>
                    <li><i class="fa fa-check"></i> Award-winning 24/7 technical support</li>
                    <li><i class="fa fa-check"></i> Money Back Guarantee</li>
                    <li><i class="fa fa-check"></i> Unlimited Monthly Bandwidth</li>
                    <li><i class="fa fa-check"></i> Flexible, easy-to-use control panel</li>
                </ul>
                <a href="#" class="readmore_but8">View all Plans</a>
            </div>
            <div class="img"> <img src="assets/assets/images/site-img49.png" alt="" /> </div>
        </div>
    </div>
</div>
<!--end section-->
<div class="clearfix"></div>
<div class="section_holder32">
    <div class="container">
        <section class="slider">
            <div class="flexslider style6">
                <ul class="slides">
                    <li>
                        <div class="one_half">
                            <div class="feature_box shadow_st1">
                                <div class="offer_badge">
                                    <div class="badge">
                                        <div class="text"> Start at<br />
                                            <span>$89.99</span><br />
                                            /mo
                                        </div>
                                    </div>
                                </div>
                                <!--end offer-->
                                <div class="img"><img src="assets/images/site-img51.jpg" class="img_size1" alt="" />
                                </div>
                                <div class="clearfix"></div>
                                <h3 class="uppercase">Dedicated Servers</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit dolor sit. amet ipsum
                                    SuspendissejPraesent mattis commodo augue. </p>
                                <br />
                                <br />
                                <a href="#" class="readmore_but9">Get Started</a><br />
                                <br />
                            </div>
                        </div>
                        <!--end item-->

                        <div class="one_half last">
                            <div class="feature_box shadow_st1">
                                <div class="offer_badge">
                                    <div class="badge">
                                        <div class="text"> Start at<br />
                                            <span>$19.99</span><br />
                                            /mo
                                        </div>
                                    </div>
                                </div>
                                <!--end offer-->
                                <div class="img"><img src="assets/images/site-img54.jpg" class="img_size1" alt="" />
                                </div>
                                <div class="clearfix"></div>
                                <h3 class="uppercase">Virtual Private Servers</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit dolor sit. amet ipsum
                                    SuspendissejPraesent mattis commodo augue. </p>
                                <br />
                                <br />
                                <a href="#" class="readmore_but9">Get Started</a><br />
                                <br />
                            </div>
                        </div>
                        <!--end item-->
                    </li>
                    <!--end item-->

                    <li>
                        <div class="one_half">
                            <div class="feature_box shadow_st1">
                                <div class="offer_badge">
                                    <div class="badge">
                                        <div class="text"> Start at<br />
                                            <span>$4.99</span><br />
                                            /mo
                                        </div>
                                    </div>
                                </div>
                                <!--end offer-->
                                <div class="img"><img src="assets/images/site-img53.jpg" class="img_size1" alt="" />
                                </div>
                                <div class="clearfix"></div>
                                <h3 class="uppercase">web hosting</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit dolor sit. amet ipsum
                                    SuspendissejPraesent mattis commodo augue. </p>
                                <br />
                                <br />
                                <a href="#" class="readmore_but9">Get Started</a><br />
                                <br />
                            </div>
                        </div>
                        <!--end item-->

                        <div class="one_half last">
                            <div class="feature_box shadow_st1">
                                <div class="offer_badge">
                                    <div class="badge">
                                        <div class="text"> Start at<br />
                                            <span>$1.99</span><br />
                                            /mo
                                        </div>
                                    </div>
                                </div>
                                <!--end offer-->
                                <div class="img"><img src="assets/images/site-img52.jpg" class="img_size1" alt="" />
                                </div>
                                <div class="clearfix"></div>
                                <h3 class="uppercase">website builder</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit dolor sit. amet ipsum
                                    SuspendissejPraesent mattis commodo augue. </p>
                                <br />
                                <br />
                                <a href="#" class="readmore_but9">Get Started</a><br />
                                <br />
                            </div>
                        </div>
                        <!--end item-->
                    </li>
                    <!--end item-->

                </ul>
            </div>
        </section>
        <div class="clearfix"></div>
    </div>
</div>
<!--end section-->