<section>
    <div class="clearfix"></div>
    <div class="tp-banner-container">
        <div class="tp-banner2">
            <ul>
                <!-- SLIDE 1  -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1500"
                    data-thumb="./assets/images/sliders/slider1_thumb.jpg" data-delay="13000" data-saveperformance="off"
                    data-title="Our Workplace">

                    <!-- MAIN IMAGE -->
                    <img src="./assets/images/sliders/slide1_bg.jpg" alt="kenburns1" data-bgposition="left center"
                        data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100"
                        data-bgfitend="130" data-bgpositionend="right center">
                    <!-- LAYERS -->

                    <div class="tp-caption lfl" data-x="-50" data-y="140" data-speed="800" data-start="1000"
                        data-easing="Back.easeOut" data-endspeed="300" data-captionhidden="on" style="z-index: 5"><img
                            src="./assets/images/sliders/web_hosting_slideimg1.png" alt=""> </div>

                    <div class="tp-caption offerbadge two sft" data-x="10" data-hoffset="0" data-voffset="-10"
                        data-y="163" data-speed="800" data-start="1300" data-easing="Power4.easeOut" data-endspeed="300"
                        data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">Up to <br />
                        <span class="price two">50%</span><br />
                        /Offer
                    </div>

                    <div class="tp-caption offerbadge sfb" data-x="80" data-hoffset="0" data-voffset="-10" data-y="230"
                        data-speed="800" data-start="1600" data-easing="Power4.easeOut" data-endspeed="300"
                        data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">Starting at <br />
                        <span class="price">$4.99</span><br />
                        /mo
                    </div>

                    <div class="tp-caption text10 sfb" data-x="750" data-hoffset="0" data-voffset="-10" data-y="168"
                        data-speed="800" data-start="2200" data-easing="Power4.easeOut" data-endspeed="300"
                        data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">Reseller <span>Web
                            Hosting</span></div>

                    <div class="tp-caption slide_list2 sfb" data-x="750" data-hoffset="0" data-voffset="-10"
                        data-y="220" data-speed="800" data-start="2500" data-easing="Power4.easeOut" data-endspeed="300"
                        data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i
                            class="fa fa-check"></i> Unlimited Disk Space, Bandwidth & Email Addresses </div>

                    <div class="tp-caption slide_list2 sfb" data-x="750" data-hoffset="0" data-voffset="-10"
                        data-y="250" data-speed="800" data-start="2800" data-easing="Power4.easeOut" data-endspeed="300"
                        data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i
                            class="fa fa-check"></i> FREE Domain Registration</div>

                    <div class="tp-caption slide_list2 sfb" data-x="750" data-hoffset="0" data-voffset="-10"
                        data-y="280" data-speed="800" data-start="3100" data-easing="Power4.easeOut" data-endspeed="300"
                        data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i
                            class="fa fa-check"></i> FREE Security Suite </div>

                    <div class="tp-caption slide_list2 sfb" data-x="750" data-hoffset="0" data-voffset="-10"
                        data-y="310" data-speed="800" data-start="3300" data-easing="Power4.easeOut" data-endspeed="300"
                        data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i
                            class="fa fa-check"></i> FREE Site-Building Tools</div>

                    <div class="tp-caption slide_list2 sfb" data-x="750" data-hoffset="0" data-voffset="-10"
                        data-y="340" data-speed="800" data-start="3600" data-easing="Power4.easeOut" data-endspeed="300"
                        data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i
                            class="fa fa-check"></i> FREE Search Engine & Marketing Credits</div>

                    <div class="tp-caption slider_but1 sfb" data-x="750" data-hoffset="0" data-voffset="-10"
                        data-y="425" data-speed="800" data-start="3900" data-easing="Power4.easeOut" data-endspeed="300"
                        data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><a href="#">Get
                            started</a> </div>
                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!--end slider-->
</section>


<!-- ============section-1================= -->

<section>
    <div class="clearfix"></div>
  <div class="section_holder12">
    <div class="container">
    
    <h1 class="lt_title_big">Reseller <span>Features</span></h1>
      <div class="lt_title_line"></div>
      <p class="lt_title_bottomtext">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue</p>

      <div class="clearfix"></div>
      <div class="one_fourth">
        <div class="icon"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe044;"></span></div>
        <h5>Unlimited Domains</h5>
        <p>Lorem Ipsum is simply dummy text of 
          theprinting and typesetting it has the randomised wordswhich .</p>
      </div>
      <!-- end item-->
      
      <div class="one_fourth">
        <div class="icon"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe034;"></span></div>
        <h5>FTP access</h5>
        <p>Lorem Ipsum is simply dummy text of 
          theprinting and typesetting it has the randomised wordswhich .</p>
      </div>
      <!-- end item-->
      
      <div class="one_fourth active">
        <div class="icon"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe037;"></span></div>
        <h5>Domains and Emails</h5>
        <p>Lorem Ipsum is simply dummy text of 
          theprinting and typesetting it has the randomised wordswhich .</p>
      </div>
      <!-- end item-->
      
      <div class="one_fourth last">
        <div class="icon"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe04a;"></span></div>
        <h5>24/7 tech support</h5>
        <p>Lorem Ipsum is simply dummy text of 
          theprinting and typesetting it has the randomised wordswhich .</p>
      </div>
      <!-- end item--> 
      
    </div>
  </div>
  <!-- end section 1-->
</section>

<!-- ===============section-2================= -->

<section>
    <div class="clearfix"></div>
  <div class="section_holder2 two">
    <div class="container">
    
    <h1 class="lt_title_big white">Our <span>Plans</span></h1>
      <div class="lt_title_line two"></div>
      <p class="lt_title_bottomtext white">Get 50% Off For 1st Month , Take A Experience From US</p>

      <div class="one_fourth">
        <div class="arrow_up"></div>
        <div class="clearfix"></div>
        <div class="price_table">
          <div class="plan_info">
            <h2 class="title">Basic <br><p>PRICE ৳ 760 BDT ( M )</p></h2>
            <div class="price"><sup>$</sup>8.99 <i>/ mo</i></div>
            <ul class="plan_features two">
              <li>  15 GB Pure SSD Storage</li>
              <li> 150 GB Transfer</li>
              <li>10 cPanel</li>
              <li> CloudFlare CDN (Content Delivery Network)</li>
              <li>LiteSpeed Cache for WordPress</li>
              <li> Powerful LiteSpeed Webserver</li>
              <li>  Free Domain Reseller Accaunt
            </li>
              <li>  Free SS:L Certificate</li>
              <li>-----</li>
<!--<li><p class="padd_bot1">Select duration:</p>
              <div class="dropbox_holder3">
              <label class="custom-select3">
                <select>
                  
                  <option>1 Month &nbsp; $ 1.00/ Month</option>
                  <option>3 Month &nbsp; $ 4.99/ Month</option>
                  <option>6 Months &nbsp; $ 4.99/ Month</option>
                  <option>12 Months &nbsp; $ 4.99/ Month</option>
                  <option>24 Months &nbsp; $ 4.99/ Month</option>
                  <option>36 Months &nbsp; $ 4.99/ Month</option>
                  <option>60 Months &nbsp; $ 4.99/ Month</option>
                </select>
              </label>
            </div>
              </li>-->
            </ul>
            <a class="singup_but" href="#">Order Now</a> </div>
        </div>
        <!--end item-->
        <div class="clearfix"></div>
        <div class="arrow_down"></div>
      </div>
      <!--end item-->
      
      <div class="one_fourth active">
        <div class="arrow_up"></div>
        <div class="clearfix"></div>
        <div class="price_table">
          <div class="plan_info">
            <h2 class="title">Standard<br><p>PRICE ৳ 1350 BDT</p></h2>
            <div class="price"><sup>$</sup>15.98 <i>/ mo</i></div>
            <ul class="plan_features two">
                <li> 100 GB Pure SSD Storage</li>
                <li> 1000 GB Transfer</li>
                <li>34 cPanel</li>
                <li> CloudFlare CDN (Content Delivery Network)</li>
                <li>LiteSpeed Cache for WordPress</li>
                <li> Powerful LiteSpeed Webserver</li>
                <li>  Free Domain Reseller Accaunt
              </li>
                <li> Free SS:L Certificate</li>
                <li>-----</li>
              <!--<li><p class="padd_bot1">Select duration:</p>
              <div class="dropbox_holder3">
              <label class="custom-select3">
                <select>
                  <option>12 Months &nbsp; $ 5.99/ Month</option>
                  <option>1 Month &nbsp; $ 4.99/ Month</option>
                  <option>3 Month &nbsp; $ 4.99/ Month</option>
                  <option>6 Months &nbsp; $ 4.99/ Month</option>
                  <option>24 Months &nbsp; $ 4.99/ Month</option>
                  <option>36 Months &nbsp; $ 4.99/ Month</option>
                  <option>60 Months &nbsp; $ 4.99/ Month</option>
                </select>
              </label>
            </div>
              </li>-->
            </ul>
            <a class="singup_but" href="https://billing.mdlhost.net/cart.php?a=add&pid=101" target="_blank">Order Now</a> </div>
        </div>
        <!--end item-->
        <div class="clearfix"></div>
        <div class="arrow_down"></div>
      </div>
      <!--end item-->
      
      <div class="one_fourth">
        <div class="arrow_up"></div>
        <div class="clearfix"></div>
        <div class="price_table">
          <div class="plan_info">
            <h2 class="title">Premium <br><p>PRICE ৳ 3100 BDT</p></h2>
            <div class="price"><sup>$</sup>12.99 <i>/ mo</i></div>
            <ul class="plan_features two">
                <li> 300 GB Pure SSD Storage</li>
                <li> 13000 GB Transfer
                </li>
                <li>100 cPanel</li>
                <li> CloudFlare CDN (Content Delivery Network)</li>
                <li>LiteSpeed Cache for WordPress</li>
                <li> Powerful LiteSpeed Webserver</li>
                <li>  Free Domain Reseller Accaunt
              </li>
                <li>  Free SS:L Certificate</li>
                <li>Free WHMCS</li>
              <!--<li><p class="padd_bot1">Select duration:</p>
              <div class="dropbox_holder3">
              <label class="custom-select3">
                <select>
                  <option>12 Months &nbsp; $ 12.99/ Month</option>
                  <option>1 Month &nbsp; $ 4.99/ Month</option>
                  <option>3 Month &nbsp; $ 4.99/ Month</option>

                  <option>6 Months &nbsp; $ 4.99/ Month</option>
                  <option>24 Months &nbsp; $ 4.99/ Month</option>
                  <option>36 Months &nbsp; $ 4.99/ Month</option>
                  <option>60 Months &nbsp; $ 4.99/ Month</option>
                </select>
              </label>
            </div>
              </li>-->
            </ul>
            <a class="singup_but" href="https://billing.mdlhost.net/cart.php?a=add&pid=101" target="_blank">Order Now</a> </div>
        </div>
        <!--end item-->
        <div class="clearfix"></div>
        <div class="arrow_down"></div>
      </div>
      <!--end item-->
      
      <div class="one_fourth last">
        <div class="arrow_up"></div>
        <div class="clearfix"></div>
        <div class="price_table">
          <div class="plan_info">
            <h2 class="title">Unlimited<br><p>PRICE ৳ 4730 BDT</p></h2>
            <div class="price"><sup>$</sup>55.99 <i>/ mo</i></div>
            <ul class="plan_features two">
                <li> 450 GB Pure SSD Storage</li>
                <li>4500 GB Transfer</li>
                <li>150 cPanel</li>
                <li> CloudFlare CDN (Content Delivery Network)</li>
                <li>LiteSpeed Cache for WordPress</li>
                <li> Powerful LiteSpeed Webserver</li>
                <li>  Free Domain Reseller Accaunt
              </li>
                <li>  Free SS:L Certificate</li>
                <li>Free WHMCS</li>
              <!--<li><p class="padd_bot1">Select duration:</p>
              <div class="dropbox_holder3">
              <label class="custom-select3">
                <select>
                  <option>2 years &nbsp; $ 39.99/ Month</option>
                  <option>1 Month &nbsp; $ 4.99/ Month</option>
                  <option>3 Month &nbsp; $ 4.99/ Month</option>
                  <option>6 Months &nbsp; $ 4.99/ Month</option>
                  <option>12 Months &nbsp; $ 4.99/ Month</option>
                  <option>24 Months &nbsp; $ 4.99/ Month</option>
                  <option>36 Months &nbsp; $ 4.99/ Month</option>
                  <option>60 Months &nbsp; $ 4.99/ Month</option>
                </select>
              </label>
            </div>
              </li>-->
            </ul>
            <a class="singup_but" href="https://billing.mdlhost.net/cart.php?a=add&pid=101" target="_blank">Order Now</a> </div>
        </div>
        <!--end item-->
        <div class="clearfix"></div>
        <div class="arrow_down"></div>
      </div>
      <!--end item--> 
    </div>
  </div>
  <!--end section 2-->
</section>

<!-- ================section-3=================== -->

<section>
    <div class="clearfix"></div>
    <div class="section_holder11 two three">
      <div class="container">
        <h1 class="lt_title_big">all plans <span>Included</span></h1>
        <div class="lt_title_line"></div>
        <p class="lt_title_bottomtext">Unlimited Feature Packed Reseller Hosting with cPanel WHM & WHMCS.</p>
        
        <div class="one_half">
          <div class="list_holder">
            <div class="icon_holder">
              <div class="icon"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe09a;"></span></div>
            </div>
            <div class="text">
              <h5 class="uppercase lessmar">cPanel & WHM</h5>
              <p>With over Many Years in business Mass Data. is one of the oldest, well established Reseller Web Hosting Provider in the market, USA reseller hosting in BD . We offer services from a network of servers in 25 Data Centers Worldwide. Our feature rich reseller web hosting plans offer all the tools needed with true 24/7 Live customer support to you and to your customers.</p>
            </div>
          </div>
          <!--end item-->
          
          <div class="list_holder active">
            <div class="icon_holder">
              <div class="icon"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe072;"></span></div>
            </div>
            <div class="text">
              <h5 class="uppercase lessmar">Powerful tools</h5>
              <p>We've got the goods — from WHM to billing software to the cPanel control panel. </p>
            </div>
          </div>
          <!--end item-->
          
          <div class="list_holder last">
            <div class="icon_holder">
              <div class="icon"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe037;"></span></div>
            </div>
            <div class="text">
              <h5 class="uppercase lessmar">Complete flexibility</h5>
              <p>Resource allocation, payment methods, & any other client services are up to you.</p>
            </div>
          </div>
          <!--end item--> 
        </div>
        <!--end left-->
        
        <div class="one_half last">
          <div class="list_holder">
            <div class="icon_holder">
              <div class="icon"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe040;"></span></div>
            </div>
            <div class="text">
              <h5 class="uppercase lessmar">Super scalability</h5>
              <p>Free & simple upgrades make it easy to scale hosting as business grows.</p>
            </div>
          </div>
          <!--end item-->
          
          <div class="list_holder">
            <div class="icon_holder">
              <div class="icon"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe03f;"></span></div>
            </div>
            <div class="text">
              <h5 class="uppercase lessmar">More</h5>
              <p>Unlimited websites, email accounts, MySQL databases, FTP accounts, & more.</p>
            </div>
          </div>
          <!--end item-->
          
          <div class="list_holder last">
            <div class="icon_holder">
              <div class="icon"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe090;"></span></div>
            </div>
            <div class="text">
              <h5 class="uppercase lessmar">24/7 network monitoring</h5>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue Cras tellus. </p>
            </div>
          </div>
          <!--end item--> 
        </div>
        <!--end right--> 
        
      </div>
    </div>
</section>

<!-- ======section-4================ -->


<section>
    <div class="clearfix"></div>
  <div class="punchtext">
    <div class="container">
      <div class="text">
        <h4 class="white margin_top1">Get Excellent Unique Web Hosting Layouts With Foxu</h4>
      </div>
      <div class="but"> <a href="https://1.envato.market/foxuhost-html-by-codelayers" class="readmore_but2">Buy now!</a> </div>
    </div>
  </div>
  <!--end punch text-->
</section>


<!-- ==============section-5================== -->

<section>
    <div class="section_holder7 two">
        <div class="container">
          <h1 class="lt_title_big">Our Clients <span>Says</span></h1>
          <div class="lt_title_line"></div>
          <p class="lt_title_bottomtext">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue</p>
          <div class="clearfix"></div>
          <div class="one_full">
            <section class="slider">
              <div class="flexslider style2">
                <ul class="slides">
                  <li>
                    <div class="clint_holder">
                      <div class="clint">
                        <div class="img_holder active">
                          <div class="img"></div>
                        </div>
                      </div>
                      <div class="text">
                        <h5 class="lessmar2">Michael Nicholas</h5>
                        <span>Developer - <span class="green">Mediatricks</span></span>
                        <p class="padd_top1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit et justo sit Suspendisse et justo. Praesent mattis. </p>
                      </div>
                    </div>
                    <!--end clint-->
                    
                    <div class="clint_holder two">
                      <div class="clint two">
                        <div class="img_holder two">
                          <div class="img two"></div>
                        </div>
                      </div>
                      <div class="text two">
                        <h5 class="lessmar2">Charlotte Oliver</h5>
                        <span>Support - <span class="green">Mediatricks</span></span>
                        <p class="padd_top1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit et justo sit Suspendisse et justo. Praesent mattis. </p>
                      </div>
                    </div>
                    <!--end clint--> 
                  </li>
                  <!--end item-->
                  
                  <li>
                    <div class="clint_holder">
                      <div class="clint">
                        <div class="img_holder active">
                          <div class="img three"></div>
                        </div>
                      </div>
                      <div class="text">
                        <h5 class="lessmar2">Michael Nicholas</h5>
                        <span>Marketing - <span class="green">Mediatricks</span></span>
                        <p class="padd_top1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit et justo sit Suspendisse et justo. Praesent mattis. </p>
                      </div>
                    </div>
                    <!--end clint-->
                    
                    <div class="clint_holder two">
                      <div class="clint two">
                        <div class="img_holder two">
                          <div class="img four"></div>
                        </div>
                      </div>
                      <div class="text two">
                        <h5 class="lessmar2">Madison Ryan</h5>
                        <span>Designer - <span class="green">Mediatricks</span></span>
                        <p class="padd_top1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit et justo sit Suspendisse et justo. Praesent mattis. </p>
                      </div>
                    </div>
                    <!--end clint--> 
                  </li>
                  <!--end item-->
                </ul>
                <!--<ul class="flex-direction-nav five">
                  <li> <a class="flex-prev five" href="#"></a> </li>
                  <li> <a class="flex-next five" href="#"></a> </li>
                </ul>-->
              </div>
            </section>
          </div>
        </div>
      </div>
      <!--end section 7-->
</section>