<section>
    <div class="clearfix"></div>
    <div class="tp-banner-container">
        <div class="tp-banner2">
            <ul>
                <!-- SLIDE 1  -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1500"
                    data-thumb="images/sliders/slider1_thumb.jpg" data-delay="13000" data-saveperformance="off"
                    data-title="Our Workplace">

                    <!-- MAIN IMAGE -->
                    <img src="./assets/images/sliders/slide1_bg.jpg" alt="kenburns1" data-bgposition="left center"
                        data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100"
                        data-bgfitend="130" data-bgpositionend="right center">
                    <!-- LAYERS -->

                    <div class="tp-caption lfl" data-x="-50" data-y="140" data-speed="800" data-start="1000"
                        data-easing="Back.easeOut" data-endspeed="300" data-captionhidden="on" style="z-index: 5"><img
                            src="./assets/images/sliders/web_hosting_slideimg1.png" alt=""> </div>
                    <div class="tp-caption offerbadge two sft" data-x="10" data-hoffset="0" data-voffset="-10"
                        data-y="163" data-speed="800" data-start="1300" data-easing="Power4.easeOut" data-endspeed="300"
                        data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">Up to <br />
                        <span class="price two">50%</span><br />
                        /Offer
                    </div>
                    <div class="tp-caption offerbadge sfb" data-x="80" data-hoffset="0" data-voffset="-10" data-y="230"
                        data-speed="800" data-start="1600" data-easing="Power4.easeOut" data-endspeed="300"
                        data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">Starting at <br />
                        <span class="price">$4.99</span><br />
                        /mo
                    </div>
                    <div class="tp-caption text10 sfb" data-x="750" data-hoffset="0" data-voffset="-10" data-y="168"
                        data-speed="800" data-start="2200" data-easing="Power4.easeOut" data-endspeed="300"
                        data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">Unlimited <span>Web
                            Hosting</span></div>
                    <div class="tp-caption slide_list2 sfb" data-x="750" data-hoffset="0" data-voffset="-10"
                        data-y="220" data-speed="800" data-start="2500" data-easing="Power4.easeOut" data-endspeed="300"
                        data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i
                            class="fa fa-check"></i> Unlimited Disk Space, Bandwidth & Email Addresses </div>
                    <div class="tp-caption slide_list2 sfb" data-x="750" data-hoffset="0" data-voffset="-10"
                        data-y="250" data-speed="800" data-start="2800" data-easing="Power4.easeOut" data-endspeed="300"
                        data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i
                            class="fa fa-check"></i> FREE Domain Registration</div>
                    <div class="tp-caption slide_list2 sfb" data-x="750" data-hoffset="0" data-voffset="-10"
                        data-y="280" data-speed="800" data-start="3100" data-easing="Power4.easeOut" data-endspeed="300"
                        data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i
                            class="fa fa-check"></i> FREE Security Suite </div>
                    <div class="tp-caption slide_list2 sfb" data-x="750" data-hoffset="0" data-voffset="-10"
                        data-y="310" data-speed="800" data-start="3300" data-easing="Power4.easeOut" data-endspeed="300"
                        data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i
                            class="fa fa-check"></i> FREE Site-Building Tools</div>
                    <div class="tp-caption slide_list2 sfb" data-x="750" data-hoffset="0" data-voffset="-10"
                        data-y="340" data-speed="800" data-start="3600" data-easing="Power4.easeOut" data-endspeed="300"
                        data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i
                            class="fa fa-check"></i> FREE Search Engine & Marketing Credits</div>
                    <div class="tp-caption slider_but1 sfb" data-x="750" data-hoffset="0" data-voffset="-10"
                        data-y="420" data-speed="800" data-start="3900" data-easing="Power4.easeOut" data-endspeed="300"
                        data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><a href="#">Get
                            started</a> </div>
                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
<!--end slider-->

<!-- ###################----LINUX FEATURES----###################### -->

<section>
    <div class="clearfix"></div>
    <div class="section_holder12">
        <div class="container">

            <h1 class="lt_title_big">Hosting <span>Features</span></h1>
            <div class="lt_title_line"></div>
            <p class="lt_title_bottomtext">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et
                justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue</p>
            <div class="clearfix"></div>
            <section class="slider">
                <div class="flexslider style2">
                    <ul class="slides">
                        <li>
                            <div class="one_fourth">
                                <div class="icon"><span class="glyph-item mega" aria-hidden="true"
                                        data-icon="&#xe05c;"></span></div>
                                <h5>Fast load time</h5>
                                <p>Lorem Ipsum is simply dummy text of
                                    theprinting and typesetting it has the randomised wordswhich .</p>
                            </div>
                            <!-- end item-->

                            <div class="one_fourth">
                                <div class="icon"><span class="glyph-item mega" aria-hidden="true"
                                        data-icon="&#xe034;"></span></div>
                                <h5>Included Apps</h5>
                                <p>Lorem Ipsum is simply dummy text of
                                    theprinting and typesetting it has the randomised wordswhich .</p>
                            </div>
                            <!-- end item-->

                            <div class="one_fourth active">
                                <div class="icon"><span class="glyph-item mega" aria-hidden="true"
                                        data-icon="&#xe086;"></span></div>
                                <h5>Domains and Emails</h5>
                                <p>Lorem Ipsum is simply dummy text of
                                    theprinting and typesetting it has the randomised wordswhich .</p>
                            </div>
                            <!-- end item-->

                            <div class="one_fourth last">
                                <div class="icon"><span class="glyph-item mega" aria-hidden="true"
                                        data-icon="&#xe04a;"></span></div>
                                <h5>Great Support</h5>
                                <p>Lorem Ipsum is simply dummy text of
                                    theprinting and typesetting it has the randomised wordswhich .</p>
                            </div>
                            <!-- end item-->
                        </li>
                        <!--end item-->

                        <li>
                            <div class="one_fourth">
                                <div class="icon"><span class="glyph-item mega" aria-hidden="true"
                                        data-icon="&#xe05c;"></span></div>
                                <h5>Fast load time</h5>
                                <p>Lorem Ipsum is simply dummy text of
                                    theprinting and typesetting it has the randomised wordswhich .</p>
                            </div>
                            <!-- end item-->

                            <div class="one_fourth">
                                <div class="icon"><span class="glyph-item mega" aria-hidden="true"
                                        data-icon="&#xe034;"></span></div>
                                <h5>Included Apps</h5>
                                <p>Lorem Ipsum is simply dummy text of
                                    theprinting and typesetting it has the randomised wordswhich .</p>
                            </div>
                            <!-- end item-->

                            <div class="one_fourth active">
                                <div class="icon"><span class="glyph-item mega" aria-hidden="true"
                                        data-icon="&#xe086;"></span></div>
                                <h5>Domains and Emails</h5>
                                <p>Lorem Ipsum is simply dummy text of
                                    theprinting and typesetting it has the randomised wordswhich .</p>
                            </div>
                            <!-- end item-->

                            <div class="one_fourth last">
                                <div class="icon"><span class="glyph-item mega" aria-hidden="true"
                                        data-icon="&#xe04a;"></span></div>
                                <h5>Great Support</h5>
                                <p>Lorem Ipsum is simply dummy text of
                                    theprinting and typesetting it has the randomised wordswhich .</p>
                            </div>
                            <!-- end item-->
                        </li>
                        <!--end item-->
                    </ul>
                </div>
            </section>
        </div>
    </div>
    <!-- end section 1-->
</section>


<!-------------  cards------------->

<section>
    <div class="clearfix"></div>
    <div class="section_holder2 two">
        <div class="container">

            <h1 class="lt_title_big white">Fastest Hosting for <span>WordPress</span></h1>
            <div class="lt_title_line two"></div>
            <p class="lt_title_bottomtext white">Your website hosting provider has a huge impact on your page load speed and ultimately your bottom line. That’s because faster sites have better SEO rankings, lower bounce rates and higher conversion rates. We’re your fast hosting provider and you’ve come to the right place! Whether you have a brand new blog or a popular business site; if you’ve never run a website before or are a professional developer, we’ve got you covered with a high-performance solution!</p>

            <div class="one_fourth">
                <div class="arrow_up"></div>
                <div class="clearfix"></div>
                <div class="price_table">
                    <div class="plan_info">
                        <h2 class="title">Basic <br><p>PRICE ৳ 210 BDT</p></h2>
                        <div class="price"><sup>$</sup>2.49 <i>/ mo</i></div>
                        <ul class="plan_features two">
                            <li> Single Domain</li>
                            <li> Free SSL Certificate
                            </li>
                            <li>10 GB SSD Storage
                            </li>
                            <li>100 GB bandwidth</li>
                            <li> Free cPanel</li>
                            <!--<li><p class="padd_bot1">Select duration:</p>
              <div class="dropbox_holder3">
              <label class="custom-select3">
                <select>
                  
                  <option>1 Month &nbsp; $ 1.00/ Month</option>
                  <option>3 Month &nbsp; $ 4.99/ Month</option>
                  <option>6 Months &nbsp; $ 4.99/ Month</option>
                  <option>12 Months &nbsp; $ 4.99/ Month</option>
                  <option>24 Months &nbsp; $ 4.99/ Month</option>
                  <option>36 Months &nbsp; $ 4.99/ Month</option>
                  <option>60 Months &nbsp; $ 4.99/ Month</option>
                </select>
              </label>
            </div>
              </li>-->
                        </ul>
                        <a class="singup_but" target="_blank" href="https://billing.mdlhost.net/cart.php?a=add&pid=3">Order Now</a>
                    </div>
                </div>
                <!--end item-->
                <div class="clearfix"></div>
                <div class="arrow_down"></div>
            </div>
            <!--end item-->

            <div class="one_fourth active">
                <div class="arrow_up"></div>
                <div class="clearfix"></div>
                <div class="price_table">
                    <div class="plan_info">
                        <h2 class="title">Standard <br><p>PRICE ৳ 296 BDT</p></h2>
                        
                        <div class="price"><sup>$</sup>3.49 <i>/ mo</i></div>
                        <ul class="plan_features two">
                            <li> 3 Domain
                            </li>
                            <li> Free SSL Certificate
                            </li>
                            <li>20 GB SSD Storage</li>
                            <li> 200 GB bandwidth
                            </li>
                            <li> Free cPanel</li>
                            <!--<li><p class="padd_bot1">Select duration:</p>
              <div class="dropbox_holder3">
              <label class="custom-select3">
                <select>
                  <option>12 Months &nbsp; $ 5.99/ Month</option>
                  <option>1 Month &nbsp; $ 4.99/ Month</option>
                  <option>3 Month &nbsp; $ 4.99/ Month</option>
                  <option>6 Months &nbsp; $ 4.99/ Month</option>
                  <option>24 Months &nbsp; $ 4.99/ Month</option>
                  <option>36 Months &nbsp; $ 4.99/ Month</option>
                  <option>60 Months &nbsp; $ 4.99/ Month</option>
                </select>
              </label>
            </div>
              </li>-->
                        </ul>
                        <a  class="singup_but" target="_blank" href="https://billing.mdlhost.net/cart.php?a=add&pid=3">Order Now</a>
                    </div>
                </div>
                <!--end item-->
                <div class="clearfix"></div>
                <div class="arrow_down"></div>
            </div>
            <!--end item-->

            <div class="one_fourth">
                <div class="arrow_up"></div>
                <div class="clearfix"></div>
                <div class="price_table">
                    <div class="plan_info">
                        <h2 class="title">Premium <br><p>PRICE ৳ 380 BDT</p></h2>
                        <div class="price"><sup>$</sup>4.49 <i>/ mo</i></div>
                        <ul class="plan_features two">
                            <li> 20 Domain</li>
                            <li> Free SSL Certificate</li>
                            <li>50 GB SSD Storage</li>
                            <li> 500 GB bandwidth</li>
                            <li> Free cPanel
                            </li>
                            <!--<li><p class="padd_bot1">Select duration:</p>
              <div class="dropbox_holder3">
              <label class="custom-select3">
                <select>
                  <option>12 Months &nbsp; $ 12.99/ Month</option>
                  <option>1 Month &nbsp; $ 4.99/ Month</option>
                  <option>3 Month &nbsp; $ 4.99/ Month</option>
                  <option>6 Months &nbsp; $ 4.99/ Month</option>
                  <option>24 Months &nbsp; $ 4.99/ Month</option>
                  <option>36 Months &nbsp; $ 4.99/ Month</option>
                  <option>60 Months &nbsp; $ 4.99/ Month</option>
                </select>
              </label>
            </div>
              </li>-->
                        </ul>
                        <a class="singup_but" target="_blank" href="https://billing.mdlhost.net/cart.php?a=add&pid=3">Order Now</a>
                    </div>
                </div>
                <!--end item-->
                <div class="clearfix"></div>
                <div class="arrow_down"></div>
            </div>
            <!--end item-->

            <div class="one_fourth last">
                <div class="arrow_up"></div>
                <div class="clearfix"></div>
                <div class="price_table">
                    <div class="plan_info">
                        <h2 class="title">Unlimited <br><p>PRICE ৳ 750 BDT</p></h2>
                        <div class="price"><sup>$</sup>8.88 <i>/ mo</i></div>
                        <ul class="plan_features two">
                            <li>Unlimited Domain
                            </li>
                            <li> Free SSL Certificate</li>
                            <li>2150 GB SSD Storage</li>
                            <li> 1500 GB bandwidth</li>
                            <li> Free cPanel</li>
                            <!--<li><p class="padd_bot1">Select duration:</p>
              <div class="dropbox_holder3">
              <label class="custom-select3">
                <select>
                  <option>2 years &nbsp; $ 39.99/ Month</option>
                  <option>1 Month &nbsp; $ 4.99/ Month</option>
                  <option>3 Month &nbsp; $ 4.99/ Month</option>
                  <option>6 Months &nbsp; $ 4.99/ Month</option>
                  <option>12 Months &nbsp; $ 4.99/ Month</option>
                  <option>24 Months &nbsp; $ 4.99/ Month</option>
                  <option>36 Months &nbsp; $ 4.99/ Month</option>
                  <option>60 Months &nbsp; $ 4.99/ Month</option>
                </select>
              </label>
            </div>
              </li>-->
                        </ul>
                        <a class="singup_but" target="_blank" href="https://billing.mdlhost.net/cart.php?a=add&pid=3">Order Now</a>
                    </div>
                </div>
                <!--end item-->
                <div class="clearfix"></div>
                <div class="arrow_down"></div>
            </div>
            <!--end item-->
        </div>
    </div>
    <!--end section 2-->
</section>


<section>
    <div class="clearfix"></div>
    <div class="section_holder3 two">
        <div class="container">

            <h1 class="lt_title_big">All Plans <span>Included</span></h1>
            <div class="lt_title_line"></div>
            <p class="lt_title_bottomtext">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et
                justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue</p>

            <div class="left">
                <div class="list_holder">
                    <div class="icon_holder">
                        <div class="icon"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe053;"></span>
                        </div>
                    </div>
                    <div class="text">
                        <h5 class="uppercase lessmar">Easy-to-use control panel.</h5>
                        <p>Includes industry-standard cPanel to install apps, manage backups and security.</p>
                    </div>
                </div>
                <!--end item-->

                <div class="list_holder active">
                    <div class="icon_holder">
                        <div class="icon"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe060;"></span>
                        </div>
                    </div>
                    <div class="text">
                        <h5 class="uppercase lessmar">1-click install of over 150 free apps.</h5>
                        <p>Get access to over 150 free apps to create CMS sites (WordPress, Joomla), forums and blogs through Installation.</p>
                    </div>
                </div>
                <!--end item-->

                <div class="list_holder last">
                    <div class="icon_holder">
                        <div class="icon"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe007;"></span>
                        </div>
                    </div>
                    <div class="text">
                        <h5 class="uppercase lessmar">24/7 network security.</h5>
                        <p>Get peace of mind, knowing network security and DDoS protection is monitored around the clock.</p>
                    </div>
                </div>
                
                <!--end item-->

            </div>
            <!--end left-->

            <div class="right">
                <div class="img_holder">
                    <div class="shape"></div>
                    <img src="./assets/images/site-img4.jpg" alt="" />
                </div>
                <!--end image-->

                <div class="clearfix"></div>
                <div class="margin_top2"></div>
                <h5>Your favorite <span class="green">hosting app</span> is one click away</h5>
                <ul class="list">
                    <li><i class="fa fa-check"></i> Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                    <li><i class="fa fa-check"></i> commodo augue. Aliquam ornare hendrerit augue. Cras tellus. </li>
                    <li><i class="fa fa-check"></i> Nullam turpis. Cras dapibus, orci rutrum adipiscing luctus.</li>
                    <li><i class="fa fa-check"></i> Nullam turpis. Cras dapibus, orci rutrum adipiscing luctus.</li>
                </ul>
            </div>
        </div>
    </div>
    <!--end section 3-->
</section>


<section>
      <!--end section 3-->
  <div class="clearfix"></div>
  <div class="punchtext">
    <div class="container">
      <div class="text">
        <h4 class="white margin_top1">Get Excellent Unique Web Hosting Layouts With Foxu</h4>
      </div>
      <div class="but"> <a href="https://1.envato.market/foxuhost-html-by-codelayers" class="readmore_but2">Buy now!</a> </div>
    </div>
  </div>
</section>

