<section>
	<div class="clearfix"></div>
	<div class="tp-banner-container">
		<div class="tp-banner2">
			<ul>  
				<!-- SLIDE 1  -->
				<li data-transition="fade" data-slotamount="1" data-masterspeed="1500"
					data-thumb="./assets/images/sliders/slider1_thumb.jpg" data-delay="13000" data-saveperformance="off"
					data-title="Our Workplace">

					<!-- MAIN IMAGE -->
					<img src="./assets/images/sliders/domain_search_bg2.jpg" alt="kenburns1"
						data-bgposition="left center" data-kenburns="on" data-duration="14000"
						data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130"
						data-bgpositionend="right center">
					<!-- LAYERS -->

					<div class="tp-caption text1 sfr" data-x="103" data-hoffset="0" data-voffset="-10" data-y="143"
						data-speed="800" data-start="1000" data-easing="Power4.easeOut" data-endspeed="300"
						data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">Domain Search</div>
					<div class="tp-caption text4 sfl" data-x="103" data-hoffset="0" data-voffset="-10" data-y="186"
						data-speed="800" data-start="1300" data-easing="Power4.easeOut" data-endspeed="300"
						data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">Find your perfect
						name</div>
					<div class="tp-caption sfb" data-x="103" data-hoffset="0" data-voffset="-10" data-y="250"
						data-speed="800" data-start="1600" data-easing="Power4.easeOut" data-endspeed="300"
						data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">
						<!-- <form method="get" id="domain-searchform"
							action="https://codelayers.net/foxuhost/layout2/fullwidth/blog.html"> -->
						<form method="get" id="domain-searchform">
							<div>
								<input class="input-text" name="dsearch" id="dsearch"
									value="Enter your Domain Name here..."
									onFocus="if (this.value == 'Enter your Domain Name here...') {this.value = '';}"
									onBlur="if (this.value == '') {this.value = 'Enter your Domain Name here...';}"
									type="text" />
								<select class="drlist">
									<option value=".com">.com</option>
									<option value=".co">.co</option>
									<option value=".net">.net</option>
									<option value=".org">.org</option>
									<option value=".biz">.biz</option>
									<option value=".us.com">.us.com</option>
									<option value=".us">.us</option>
									<option value=".mobi">.mobi</option>
									<option value=".info">.info</option>
								</select>
								<input id="searchsubmit" value="Search Domain" type="submit" />
							</div>
						</form>
					</div>
					<div class="tp-caption tld_step sfl" data-x="103" data-hoffset="0" data-voffset="-10" data-y="390"
						data-speed="800" data-start="1900" data-easing="Power4.easeOut" data-endspeed="300"
						data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">1</div>
					<div class="tp-caption tld_text sfl" data-x="170" data-hoffset="0" data-voffset="-10" data-y="390"
						data-speed="800" data-start="2200" data-easing="Power4.easeOut" data-endspeed="300"
						data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">Write a Domain Name
					</div>
					<div class="tp-caption tld_step sfb" data-x="473" data-hoffset="0" data-voffset="-10" data-y="390"
						data-speed="800" data-start="2500" data-easing="Power4.easeOut" data-endspeed="300"
						data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">2</div>
					<div class="tp-caption tld_text sfb" data-x="544" data-hoffset="0" data-voffset="-10" data-y="390"
						data-speed="800" data-start="2600" data-easing="Power4.easeOut" data-endspeed="300"
						data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">Select Your TLD</div>
					<div class="tp-caption tld_step sfr" data-x="840" data-hoffset="0" data-voffset="-10" data-y="390"
						data-speed="800" data-start="2700" data-easing="Power4.easeOut" data-endspeed="300"
						data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">3</div>
					<div class="tp-caption tld_text sfr" data-x="910" data-hoffset="0" data-voffset="-10" data-y="390"
						data-speed="800" data-start="3000" data-easing="Power4.easeOut" data-endspeed="300"
						data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">Check Availability
					</div>
				</li>
			</ul>
			<div class="tp-bannertimer"></div>
		</div>
	</div>
	<div class="clearfix"></div>
</section>

<!--################## section end ########################-->

<!------------------------ select your domain section started -------------------->

<section>
	<div class="section_holder1 two">
		<div class="container">
		  <h1 class="lt_title_big">Select your <span>Domain</span></h1>
		  <div class="lt_title_line"></div>
		  <p class="lt_title_bottomtext">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue</p>
		  <div class="box">
			<h1 class="bold lessmar">.com</h1>
			<h4 class="uppercase lessmar"><span class="dashed">$12.99</span> &nbsp;$10.99</h4>
			<p>Lorem ipsum dolor sit amet, consectetuer sit 
			  adipiscing elit Suspendisse et</p>
			<br/>
			<a href="#">Register</a>
		  </div>
		  <!--end item-->
		  
		  <div class="box two active">
			<h1 class="white bold lessmar">.org</h1>
			<h4 class="white uppercase lessmar"><span class="dashed">$12.99</span> &nbsp;$10.99</h4>
			<p>Lorem ipsum dolor sit amet, consectetuer sit 
			  adipiscing elit Suspendisse et</p>
			<br/>
			<a href="#">Register</a>
		  </div>
		  <!--end item-->
		  
		  <div class="box three">
			<h1 class="bold lessmar">.net</h1>
			<h4 class="uppercase lessmar"><span class="dashed">$12.99</span> &nbsp;$10.99</h4>
			<p>Lorem ipsum dolor sit amet, consectetuer sit 
			  adipiscing elit Suspendisse et</p>
			<br/>
			<a href="#">Register</a>
		  </div>
		  <!--end item--> 
		  
		</div>
	  </div>
</section>

<!---------------- Domain features section started--------------- -->

<section>
	<div class="section_holder4 two">
		<div class="container">
		  <div class="one_half">
			<h1 class="lt_title_big_left white">Domain <span>Features</span></h1>
			<div class="clearfix"></div>
			<div class="section_title_line four"></div>
			<div class="clearfix"></div>
			<section class="slider">
			  <div class="flexslider style2">
				<ul class="slides">
				  <li>
					<div class="one_third">
					  <div class="icon"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe086;"></span></div>
					  <h5 class="white lessmar2">Email Forward</h5>
					  <p class="white">Lorem ipsum dolor sit adipiscing amet sit et sit justo elit ipsum.</p>
					</div>
					<!--end item-->
					
					<div class="one_third active">
					  <div class="icon"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe037;"></span></div>
					  <h5 class="white lessmar2">DNS Control</h5>
					  <p class="white">Lorem ipsum dolor sit adipiscing amet sit et sit justo elit ipsum.</p>
					</div>
					<!--end item-->
					
					<div class="one_third last">
					  <div class="icon"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe08e;"></span></div>
					  <h5 class="white lessmar2">Protect Your Privacy</h5>
					  <p class="white">Lorem ipsum dolor sit adipiscing amet sit et sit justo elit ipsum.</p>
					</div>
					<!--end item--> 
					
				  </li>
				  <!--end item-->
				  
				  <li>
					<div class="one_third">
					  <div class="icon"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe086;"></span></div>
					  <h5 class="white lessmar2">Email Forward</h5>
					  <p class="white">Lorem ipsum dolor sit adipiscing amet sit et sit justo elit ipsum.</p>
					</div>
					<!--end item-->
					
					<div class="one_third active">
					  <div class="icon"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe037;"></span></div>
					  <h5 class="white lessmar2">DNS Control</h5>
					  <p class="white">Lorem ipsum dolor sit adipiscing amet sit et sit justo elit ipsum.</p>
					</div>
					<!--end item-->
					
					<div class="one_third last">
					  <div class="icon"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe08e;"></span></div>
					  <h5 class="white lessmar2">Protect Your Privacy</h5>
					  <p class="white">Lorem ipsum dolor sit adipiscing amet sit et sit justo elit ipsum.</p>
					</div>
					<!--end item--> 
					
				  </li>
				  <!--end item-->
				</ul>
			  </div>
			</section>
		  </div>
		  <!--end left-->
		  
		  <div class="one_half last"> <img src="./assets/images/site-img21.png" alt=""/> </div>
		</div>
	  </div>
</section>


<!---------------------  CHECK OUT OUR PRICING section started ----------------->

<section>
	<div class="section_holder5">
		<div class="container">
		  <h1 class="lt_title_big">Check Out our <span>Pricing</span></h1>
		  <div class="lt_title_line"></div>
		  <p class="lt_title_bottomtext">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue</p>
	
		  <div class="one_full">
			<div class="domain_pricetable_holder">
			  <div class="table-style">
				<table class="table-list3">
				  <tr>
					<th></th>
					<th>Registration</th>
					<th>Domain Transfer</th>
					<th>DNS Management</th>
					<th>Whois Privacy</th>
					<th></th>
				  </tr>
				  <tr>
					<td>.com</td>
					<td>$2.99</td>
					<td>$2.99</td>
					<td>Free</td>
					<td>$6.99</td>
					<td><a href="#">Register</a></td>
				  </tr>
				  <tr>
					<td class="hilit">.org</td>
					<td class="hilit">$2.99</td>
					<td class="hilit">$2.99</td>
					<td class="hilit">Free</td>
					<td class="hilit">$6.99</td>
					<td class="hilit"><a href="#">Register</a></td>
				  </tr>
				  <tr>
					<td>.biz</td>
					<td>$2.99</td>
					<td>$2.99</td>
					<td>Free</td>
					<td>$6.99</td>
					<td><a href="#">Register</a></td>
				  </tr>
				  <tr>
					<td class="hilit">.org</td>
					<td class="hilit">$2.99</td>
					<td class="hilit">$2.99</td>
					<td class="hilit">Free</td>
					<td class="hilit">$6.99</td>
					<td class="hilit"><a href="#">Register</a></td>
				  </tr>
				  <tr>
					<td>.com</td>
					<td>$2.99</td>
					<td>$2.99</td>
					<td>Free</td>
					<td>$6.99</td>
					<td><a href="#">Register</a></td>
				  </tr>
				  <tr>
					<td class="hilit">.org</td>
					<td class="hilit">$2.99</td>
					<td class="hilit">$2.99</td>
					<td class="hilit">Free</td>
					<td class="hilit">$6.99</td>
					<td class="hilit"><a href="#">Register</a></td>
				  </tr>
				  <tr>
					<td>.com</td>
					<td>$2.99</td>
					<td>$2.99</td>
					<td>Free</td>
					<td>$6.99</td>
					<td><a href="#">Register</a></td>
				  </tr>
				</table>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
</section>
<!-- ######################### -->

<section>
	<div class="section_holder6 two">
		<div class="container">
		  <div class="one_half">
			
			<h1 class="lt_title_big_left white">Private and <span>Secure</span></h1>
			<div class="clearfix"></div>
			<div class="section_title_line four"></div>
			
			<div class="clearfix"></div>
			<section class="slider">
			  <div class="flexslider style2">
				<ul class="slides">
				  <li>
					<h4 class="white">Keep your domain private and secure!</h4>
					<p class="white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; </p>
					<br/>
					<h4 class="white">Keep your domain private and secure!</h4>
					<p class="white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; </p>
				  </li>
				  <!--end item-->
				  
				  <li>
					<h4 class="white">Keep your domain private and secure!</h4>
					<p class="white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; </p>
					<br/>
					<h4 class="white">Keep your domain private and secure!</h4>
					<p class="white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; </p>
				  </li>
				  <!--end item-->
				</ul>
			  </div>
			</section>
		  </div>
		  <!--end left-->
		  
		  <div class="one_half last">
			<h1 class="lt_title_big_left white">Why Choose <span>Foxu ?</span></h1>
			<div class="clearfix"></div>
			<div class="section_title_line four"></div>
			
			<div class="clearfix"></div>
			<section class="slider">
			  <div class="flexslider style2">
				<ul class="slides">
				  <li>
					<div class="one_third">
					  <div class="why_choose_img"> <a href="#">
						<div class="overley"></div>
						<div class="img"></div>
						</a> </div>
					  <a href="#">
					  <h5 class="white lessmar">Fast Hosting</h5>
					  </a>
					  <p class="white">Lorem ipsum dolor sit amet, consectetuer sit et justo adipiscing.</p>
					</div>
					<!--end item-->
					
					<div class="one_third">
					  <div class="why_choose_img"> <a href="#">
						<div class="overley"></div>
						<div class="img two"></div>
						</a> </div>
					  <a href="#">
					  <h5 class="white lessmar">Website Protection</h5>
					  </a>
					  <p class="white">Lorem ipsum dolor sit amet, consectetuer sit et justo adipiscing.</p>
					</div>
					<!--end item-->
					
					<div class="one_third last">
					  <div class="why_choose_img"> <a href="#">
						<div class="overley"></div>
						<div class="img three"></div>
						</a> </div>
					  <a href="#">
					  <h5 class="white lessmar">Expert Support</h5>
					  </a>
					  <p class="white">Lorem ipsum dolor sit amet, consectetuer sit et justo adipiscing.</p>
					</div>
					<!--end item-->  
				  </li>
				  <!--end item-->
				  
				  <li>
					<div class="one_third">
					  <div class="why_choose_img"> <a href="#">
						<div class="overley"></div>
						<div class="img"></div>
						</a> </div>
					  <a href="#">
					  <h5 class="white lessmar">Fast Hosting</h5>
					  </a>
					  <p class="white">Lorem ipsum dolor sit amet, consectetuer sit et justo adipiscing.</p>
					</div>
					<!--end item-->
					
					<div class="one_third">
					  <div class="why_choose_img"> <a href="#">
						<div class="overley"></div>
						<div class="img two"></div>
						</a> </div>
					  <a href="#">
					  <h5 class="white lessmar">Website Protection</h5>
					  </a>
					  <p class="white">Lorem ipsum dolor sit amet, consectetuer sit et justo adipiscing.</p>
					</div>
					<!--end item-->
					
					<div class="one_third last">
					  <div class="why_choose_img"> <a href="#">
						<div class="overley"></div>
						<div class="img three"></div>
						</a> </div>
					  <a href="#">
					  <h5 class="white lessmar">Expert Support</h5>
					  </a>
					  <p class="white">Lorem ipsum dolor sit amet, consectetuer sit et justo adipiscing.</p>
					</div>
					<!--end item--> 
					
				  </li>
				  <!--end item-->
				</ul>
			  </div>
			</section>
		  </div>
		</div>
	  </div>
	  <!--end section 6-->
</section>


<!--###########################--- last section --- ############################  -->
<section>
	<div class="section_holder10">
		<div class="container">
		  <div class="one_half"> <img src="./assets/images/site-img22.png" alt=""/> </div>
		  <div class="one_half last">
			<h4>Your personal information is safe with us.</h4>
			<ul class="list">
			  <li><i class="fa fa-check"></i> Nullam turpis. Cras dapibus, orci rutrum adipiscing luctus, nisl magna tempus.</li>
			  <li><i class="fa fa-check"></i> Etiam enim. Suspendisse imperdiet cursus nisi. Maecenas sed nisl nec lectus.</li>
			  <li><i class="fa fa-check"></i> Vivamus sit amet felis. Vivamus et justo in nunc pharetra semper.</li>
			</ul>
			<a class="readmore_but4" href="#">Read more</a><a class="readmore_but5" href="#">Order domain</a> </div>
		</div>
	  </div>
</section>