<div class="clearfix"></div>
<div class="tp-banner-container">
  <div class="tp-banner2">
    <ul>
      <!-- SLIDE 1  -->
      <li data-transition="fade" data-slotamount="1" data-masterspeed="1500"
        data-thumb="assets/images/sliders/slider1_thumb.jpg" data-delay="13000" data-saveperformance="off"
        data-title="Our Workplace">

        <!-- MAIN IMAGE -->
        <img src="assets/images/sliders/slide2_bg.jpg" alt="kenburns1" data-bgposition="left center" data-kenburns="on"
          data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130"
          data-bgpositionend="right center">
        <!-- LAYERS -->

        <div class="tp-caption lfl" data-x="-50" data-y="140" data-speed="800" data-start="1000"
          data-easing="Back.easeOut" data-endspeed="300" data-captionhidden="on" style="z-index: 5"><img
            src="assets/images/sliders/slide4_img1.png" alt=""> </div>
        <div class="tp-caption offerbadge two sft" data-x="400" data-hoffset="0" data-voffset="-10" data-y="230"
          data-speed="800" data-start="1300" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">Up to <br />
          <span class="price two">50%</span><br />
          /Offer
        </div>
        <div class="tp-caption offerbadge sfb" data-x="500" data-hoffset="0" data-voffset="-10" data-y="230"
          data-speed="800" data-start="1600" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">Starting at <br />
          <span class="price">$4.99</span><br />
          /mo
        </div>
        <div class="tp-caption text9 randomrotate customout tp-resizeme" data-x="750" data-y="168"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500" data-start="2200" data-easing="Power3.easeInOut" data-splitin="chars" data-splitout="chars"
          data-elementdelay="0.08" data-endelementdelay="0.08" data-endspeed="300"
          style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">VPS Hosting</div>
        <div class="tp-caption slide_list sfb" data-x="750" data-hoffset="0" data-voffset="-10" data-y="220"
          data-speed="800" data-start="2500" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i class="fa fa-check"></i>
          Unlimited Disk Space, Bandwidth & Email Addresses </div>
        <div class="tp-caption slide_list sfb" data-x="750" data-hoffset="0" data-voffset="-10" data-y="250"
          data-speed="800" data-start="2800" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i class="fa fa-check"></i>
          FREE Domain Registration</div>
        <div class="tp-caption slide_list sfb" data-x="750" data-hoffset="0" data-voffset="-10" data-y="280"
          data-speed="800" data-start="3100" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i class="fa fa-check"></i>
          FREE Security Suite </div>
        <div class="tp-caption slide_list sfb" data-x="750" data-hoffset="0" data-voffset="-10" data-y="310"
          data-speed="800" data-start="3300" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i class="fa fa-check"></i>
          FREE Site-Building Tools</div>
        <div class="tp-caption slide_list sfb" data-x="750" data-hoffset="0" data-voffset="-10" data-y="340"
          data-speed="800" data-start="3600" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i class="fa fa-check"></i>
          FREE Search Engine & Marketing Credits</div>
        <div class="tp-caption slider_but1 sfb" data-x="750" data-hoffset="0" data-voffset="-10" data-y="435"
          data-speed="800" data-start="3900" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><a href="#">Get started</a>
        </div>
      </li>

      <!-- SLIDE 2  -->
      <li data-transition="fade" data-slotamount="1" data-masterspeed="1500"
        data-thumb="assets/images/sliders/slider1_thumb.jpg" data-delay="13000" data-saveperformance="off"
        data-title="Our Workplace">

        <!-- MAIN IMAGE -->
        <img src="assets/images/sliders/slide2_bg.jpg" alt="kenburns1" data-bgposition="left center" data-kenburns="on"
          data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130"
          data-bgpositionend="right center">
        <!-- LAYERS -->

        <div class="tp-caption lfr" data-x="680" data-y="90" data-speed="800" data-start="1000"
          data-easing="Back.easeOut" data-endspeed="300" data-captionhidden="on" style="z-index: 8"><img
            src="assets/images/sliders/slide2_img1.png" alt=""> </div>
        <div class="tp-caption offerbadge two sft" data-x="650" data-hoffset="0" data-voffset="-10" data-y="140"
          data-speed="800" data-start="1300" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 9">Up to <br />
          <span class="price two">50%</span><br />
          /Offer
        </div>
        <div class="tp-caption offerbadge sfb" data-x="660" data-hoffset="0" data-voffset="-10" data-y="250"
          data-speed="800" data-start="1600" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 10">Starting at <br />
          <span class="price">$4.99</span><br />
          /mo
        </div>
        <div class="tp-caption text9 randomrotate customout tp-resizeme" data-x="0" data-y="135"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500" data-start="1400" data-easing="Power3.easeInOut" data-splitin="chars" data-splitout="chars"
          data-elementdelay="0.08" data-endelementdelay="0.08" data-endspeed="300"
          style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">Shared Hosting</div>
        <div class="tp-caption slide_list sfb" data-x="0" data-hoffset="0" data-voffset="-10" data-y="185"
          data-speed="800" data-start="1900" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i
            class="fa fa-arrow-circle-right"></i> Unlimited Disk Space, Bandwidth</div>
        <div class="tp-caption slide_list sfb" data-x="0" data-hoffset="0" data-voffset="-10" data-y="220"
          data-speed="800" data-start="2000" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i
            class="fa fa-arrow-circle-right"></i> FREE Domain Registration</div>
        <div class="tp-caption slide_list sfb" data-x="0" data-hoffset="0" data-voffset="-10" data-y="255"
          data-speed="800" data-start="2100" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i
            class="fa fa-arrow-circle-right"></i> FREE Security Suite</div>
        <div class="tp-caption slide_list sfb" data-x="0" data-hoffset="0" data-voffset="-10" data-y="290"
          data-speed="800" data-start="2200" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i
            class="fa fa-arrow-circle-right"></i> FREE Site-Building Tools</div>
        <div class="tp-caption slide_list sfb" data-x="0" data-hoffset="0" data-voffset="-10" data-y="325"
          data-speed="800" data-start="2300" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i
            class="fa fa-arrow-circle-right"></i> FREE Search Engine Credits</div>
        <div class="tp-caption slide_list sfb" data-x="0" data-hoffset="0" data-voffset="-10" data-y="360"
          data-speed="800" data-start="2400" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i
            class="fa fa-arrow-circle-right"></i> GREEN! Powered by 100% wind energy</div>
        <div class="tp-caption slide_list sfb" data-x="356" data-hoffset="0" data-voffset="-10" data-y="185"
          data-speed="800" data-start="2500" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i
            class="fa fa-arrow-circle-right"></i> Unlimited Disk Space, Bandwidth</div>
        <div class="tp-caption slide_list sfb" data-x="356" data-hoffset="0" data-voffset="-10" data-y="220"
          data-speed="800" data-start="2600" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i
            class="fa fa-arrow-circle-right"></i> FREE Domain Registration</div>
        <div class="tp-caption slide_list sfb" data-x="356" data-hoffset="0" data-voffset="-10" data-y="255"
          data-speed="800" data-start="2700" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i
            class="fa fa-arrow-circle-right"></i> FREE Security Suite</div>
        <div class="tp-caption slide_list sfb" data-x="356" data-hoffset="0" data-voffset="-10" data-y="290"
          data-speed="800" data-start="2800" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i
            class="fa fa-arrow-circle-right"></i> FREE Site-Building Tools</div>
        <div class="tp-caption slide_list sfb" data-x="356" data-hoffset="0" data-voffset="-10" data-y="325"
          data-speed="800" data-start="2900" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i
            class="fa fa-arrow-circle-right"></i> FREE Search Engine Credits</div>
        <div class="tp-caption slide_list sfb" data-x="356" data-hoffset="0" data-voffset="-10" data-y="360"
          data-speed="800" data-start="3000" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><i
            class="fa fa-arrow-circle-right"></i> GREEN! 100% wind energy</div>
        <div class="tp-caption slider_but1 sfb" data-x="0" data-hoffset="0" data-voffset="-10" data-y="430"
          data-speed="800" data-start="3100" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><a href="#">Get started</a>
        </div>
      </li>

      <!-- SLIDE 3 -->
      <li data-transition="fade" data-slotamount="1" data-masterspeed="1500"
        data-thumb="assets/images/sliders/slider1_thumb.jpg" data-delay="13000" data-saveperformance="off"
        data-title="Our Workplace">

        <!-- MAIN IMAGE -->
        <img src="assets/images/sliders/slide2_bg.jpg" alt="kenburns1" data-bgposition="left center" data-kenburns="on"
          data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130"
          data-bgpositionend="right center">
        <!-- LAYERS -->

        <div class="tp-caption lfr" data-x="350" data-y="225" data-speed="800" data-start="1000"
          data-easing="Back.easeOut" data-endspeed="300" data-captionhidden="on" style="z-index: 8"><img
            src="assets/images/sliders/slide3_img1.png" alt=""> </div>
        <div class="tp-caption offerbadge two sfr" data-x="260" data-hoffset="0" data-voffset="-10" data-y="280"
          data-speed="800" data-start="1300" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 9">Up to <br />
          <span class="price two">50%</span><br />
          /Offer
        </div>
        <div class="tp-caption offerbadge sfl" data-x="825" data-hoffset="0" data-voffset="-10" data-y="335"
          data-speed="800" data-start="1600" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 10">Starting at <br />
          <span class="price">$4.99</span><br />
          /mo
        </div>
        <div class="tp-caption text9 randomrotate customout tp-resizeme" data-x="center" data-y="95"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500" data-start="1000" data-easing="Power3.easeInOut" data-splitin="chars" data-splitout="chars"
          data-elementdelay="0.08" data-endelementdelay="0.08" data-endspeed="300"
          style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">Reliable and Affordable Web
          Hosting</div>
        <div class="tp-caption slide_list sfb" data-x="center" data-hoffset="0" data-voffset="-10" data-y="135"
          data-speed="800" data-start="2200" data-easing="Power4.easeOut" data-endspeed="300"
          data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index:6">Lorem ipsum dolor sit amet,
          consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis </div>
      </li>
    </ul>
    <div class="tp-bannertimer"></div>
  </div>
</div>
<div class="clearfix"></div>
<!--end slider-->
