<header id="header">
    <!-- Top header bar -->
    <div id="topHeader">
        <div class="wrapper">
            <div class="top_nav two">
                <div class="container">
                    <ul>
                        <li><a target="_blank" href="https://www.facebook.com/codelayers"><i
                                    class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" href="https://twitter.com/codelayers"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li class="last"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <a href="#" class="registerbut">Register</a><a class="login_but" href="#">Login</a> <span>24x7 live
                        Technical Support &nbsp;&nbsp; <i class="fa fa-phone"></i> &nbsp;+88 123 456 7890</span>
                    <!-- end right social links -->

                </div>
            </div>
        </div>
    </div>
    <!-- end top navigation -->

    <div id="trueHeader">
        <div class="wrapper">
            <div class="container">

                <!-- Logo -->
                <div class="logo"><a href="index.html" id="logo"></a></div>

                <!-- Menu -->
                <div class="menu_main">
                    <div class="navbar yamm navbar-default">
                        <div class="container">
                            <div class="navbar-header">
                                <div class="navbar-toggle .navbar-collapse .pull-right " data-toggle="collapse"
                                    data-target="#navbar-collapse-1"> <span>Menu</span>
                                    <button type="button"> <i class="fa fa-bars"></i></button>
                                </div>
                            </div>
                            <div id="navbar-collapse-1" class="navbar-collapse collapse pull-right">
                                <nav>
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown"> <a href="/" (click)="home()" class="dropdown-toggle">
                                                Home</a></li>
                                        <!-- <li class="dropdown"> <a href="index.html" class="dropdown-toggle"> Layouts</a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="index.html">Layout Light</a> </li>
                                                <li><a
                                                        href="https://codelayers.net/foxuhost/layout3/fullwidth/index.html">Layout
                                                        Classic</a> </li>
                                                <li><a
                                                        href="https://codelayers.net/foxuhost/layout4/fullwidth/index.html">Layout
                                                        Light2</a> </li>
                                                <li><a
                                                        href="https://codelayers.net/foxuhost/layout5/fullwidth/index.html">Layout
                                                        Classic2</a> </li>
                                                <li><a
                                                        href="https://codelayers.net/foxuhost/layout7/fullwidth/index.html">Layout
                                                        Classic3</a> </li>
                                                <li><a
                                                        href="https://codelayers.net/foxuhost/layout1/fullwidth/index.html">Layout
                                                        Creative</a> </li>
                                                <li><a
                                                        href="https://codelayers.net/foxuhost/layout6/fullwidth/index.html">Layout
                                                        One Page</a></li>
                                                <li class="dropdown-submenu mul"> <a tabindex="-1" href="#">Header
                                                        Styles</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="index.html">Header Style1</a> </li>
                                                        <li><a
                                                                href="https://codelayers.net/foxuhost/layout3/fullwidth/index.html">Header
                                                                Style2</a> </li>
                                                        <li><a
                                                                href="https://codelayers.net/foxuhost/layout4/fullwidth/index.html">Header
                                                                Style3</a> </li>
                                                        <li><a
                                                                href="https://codelayers.net/foxuhost/layout5/fullwidth/index.html">Header
                                                                Style4</a> </li>
                                                        <li><a
                                                                href="https://codelayers.net/foxuhost/layout6/fullwidth/index.html">Header
                                                                Style5</a> </li>
                                                        <li><a
                                                                href="https://codelayers.net/foxuhost/layout1/fullwidth/index.html">Header
                                                                Style6</a> </li>
                                                        <li><a
                                                                href="https://codelayers.net/foxuhost/layout7/fullwidth/index.html">Header
                                                                Style7</a> </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li> -->
                                        <li class="dropdown"> <a href="domain_search.html" class="dropdown-toggle">
                                                Domains</a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="domain_search.html">Domain Search</a></li>
                                                <li><a href="domain_transfer.html">Domain Transfer</a> </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"> <a href="webhosting.html" class="dropdown-toggle">
                                                Hosting</a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="webhosting.html">Web Hosting</a></li>
                                                <li><a href="dedicated_hosting.html">Dedicate Hosting</a> </li>
                                                <li><a href="shared_hosting.html">Shared Hosting</a></li>
                                                <li><a href="vps_hosting.html">VPS Hosting</a> </li>
                                                <li><a href="reseller.html">Reseller Hosting</a> </li>
                                            </ul>
                                        </li>
                                    
                                        <!-- <li class="dropdown"> <a href="about.html" class="dropdown-toggle">Pages</a>
                                            <ul class="dropdown-menu multilevel" role="menu">
                                                <li><a href="about.html">About Page</a></li>
                                                <li><a href="website_builder.html">Website Builder</a></li>
                                                <li><a href="affiliates.html">Affiliates</a></li>
                                                <li><a href="services.html">Services Page</a></li>
                                                <li><a href="team.html">Our Team</a></li>
                                                <li><a href="whois.html">search whois</a></li>
                                                <li><a href="awards.html">Awards</a></li>
                                                <li><a href="support.html">Support</a></li>
                                                <li><a href="full-width.html">Full Width Page</a></li>
                                                <li><a href="left-sidebar.html">Left Sidebar Page</a></li>
                                                <li><a href="right-sidebar.html">Right Sidebar Page</a></li>
                                                <li><a href="left-nav.html">Left Navigation</a></li>
                                                <li><a href="right-nav.html">Right Navigation</a></li>
                                                <li><a href="login.html">Login Form</a></li>
                                                <li><a href="register.html">Registration Form</a></li>
                                                <li><a href="404.html">404 Error Page</a></li>
                                            </ul>
                                        </li> -->
                                        <!-- <li class="dropdown"> <a href="portfolio-three.html"
                                                class="dropdown-toggle">Portfolio</a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li> <a href="portfolio-one.html">Single Item</a> </li>
                                                <li> <a href="portfolio-two.html">Portfolio Columns 2</a> </li>
                                                <li> <a href="portfolio-three.html">Portfolio Columns 3</a> </li>
                                                <li> <a href="portfolio-four.html">Portfolio Columns 4</a> </li>
                                                <li> <a href="portfolio-five.html">Portfolio + Sidebar</a> </li>
                                                <li> <a href="portfolio-six.html">Portfolio Full Width</a> </li>
                                                <li> <a href="portfolio-seven.html">Portfolio Masonry</a> </li>
                                            </ul>
                                        </li> -->
                                        <!-- <li class="dropdown"> <a href="blog.html" class="dropdown-toggle">Blog</a>
                                            <ul class="dropdown-menu three" role="menu">
                                                <li> <a href="blog.html">Blog Full Width</a> </li>
                                                <li> <a href="blog2.html">Blog 3Columns</a> </li>
                                                <li> <a href="blog3.html">Blog Standard</a> </li>
                                                <li> <a href="blog-post.html">Single Post</a> </li>
                                            </ul>
                                        </li> -->
                                        <li class="dropdown"> <a href="contact-us" class="dropdown-toggle">
                                                Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end menu -->

            </div>
            </div>
            </div>
            </header>