<section>
    <div class="container">
        <h1 class="banner-text"><b>Privacy Policy</b></h1>
        <p>MDL Host recognizes that privacy is of great importance to individuals everywhere – our customers, website visitors, product users… everyone. This is why the responsible use and protection of personal and other information under our care is a core value of Mass Data. To learn more about our privacy practices, please review the policy below. If you have any further questions or concerns, please feel free to reach us at privacy@mdlhost.net</p>
        <br>
    
        
        <p>The privacy statement was last updated on 02/10/2022.</p>
    </div>
</section>
