<div class="section_holder34">
    <div class="container">
        <h1 class="title1">7 Diffrent</h1>
        <h1 class="title2"> Hosting Layouts</h1>
        <br />
        <p class="cont">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis
            commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget orci.
            Cras laoreet ligula. Etiam sit amet dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere.</p>
        <div class="margin_top4"></div>
        <a href="#" class="readmore_but9">Purchase now!</a>
    </div>
</div>
<!--end section-->
<div class="clearfix"></div>
<div class="section_holder35">
    <div class="container">
        <div class="one_third">
            <div class="feature_box">
                <ul class="tabs10">
                    <li><a href="#example-10-tab-1" target="_self">What's Included? </a></li>
                    <li><a href="#example-10-tab-2" target="_self">Transfer Your Site</a></li>
                </ul>
                <div class="tabs-content10">
                    <div id="example-10-tab-1" class="tabs-panel10">
                        <ul class="tablist">
                            <li><i class="fa fa-check"></i> Unlimited disk space</li>
                            <li><i class="fa fa-check"></i> Unlimited bandwidth</li>
                            <li><i class="fa fa-check"></i> Host unlimited domains</li>
                            <li><i class="fa fa-check"></i> Free domain registration</li>
                            <li><i class="fa fa-check"></i> Unlimited bandwidth</li>
                            <li><i class="fa fa-check"></i> Unlimited bandwidth</li>
                        </ul>
                        <a href="#" class="readmore_but3">Sign Up Now</a>
                    </div>
                    <!-- end tab 1 -->

                    <div id="example-10-tab-2" class="tabs-panel10">
                        <ul class="tablist">
                            <li><i class="fa fa-check"></i> Unlimited disk space</li>
                            <li><i class="fa fa-check"></i> Unlimited bandwidth</li>
                            <li><i class="fa fa-check"></i> Host unlimited domains</li>
                            <li><i class="fa fa-check"></i> Free domain registration</li>
                            <li><i class="fa fa-check"></i> Free SiteLock security suite (a $120 value)</li>
                            <li><i class="fa fa-check"></i> Unlimited bandwidth</li>
                        </ul>
                        <a href="#" class="readmore_but3">Sign Up Now</a>
                    </div>
                    <!-- end tab 2 -->

                </div>
                <!-- end all tabs -->
            </div>
            <div class="shadow_box"></div>
        </div>
        <div class="one_third">
            <div class="feature_box">
                <h4 class="padd_bot2">Affiliate Program</h4>
                <div class="affiliates">
                    <div class="icon"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe060;"></span>
                    </div>
                    <div class="text">
                        <h6 class="lessmar2">Sign Up</h6>
                        <p>Lorem ipsum dolor sit amet sit et justo consectetuer. </p>
                    </div>
                </div>
                <!--end item-->

                <div class="affiliates active">
                    <div class="icon"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe001;"></span>
                    </div>
                    <div class="text">
                        <h6 class="lessmar2">Refer Customers</h6>
                        <p>Lorem ipsum dolor sit amet sit et justo consectetuer. </p>
                    </div>
                </div>
                <!--end item-->

                <div class="affiliates">
                    <div class="icon"><span class="glyph-item mega" aria-hidden="true" data-icon="&#xe06b;"></span>
                    </div>
                    <div class="text">
                        <h6 class="lessmar2">Earn Money</h6>
                        <p>Lorem ipsum dolor sit amet sit et justo consectetuer. </p>
                    </div>
                </div>
                <!--end item-->
            </div>
            <div class="shadow_box"></div>
        </div>
        <!--end affiliates-->

        <div class="one_third last">
            <div class="feature_box">
                <h4 class="uppercase">Social Widget</h4>
                <div class="social_widget">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis
                        commodo augue. Aliquam ornare hendrerit augue. </p>
                    <br>
                    <ul class="social_icon_st2">
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" href="https://www.facebook.com/codelayers"><i
                                    class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="shadow_box"></div>
        </div>
    </div>
</div>
<!--end section-->
<div class="clearfix"></div>
<div class="punchtext">
    <div class="container">
        <div class="text">
            <h4 class="white margin_top1">Get Excellent Unique Web Hosting Layouts With Foxu</h4>
        </div>
        <div class="but"> <a href="#" class="readmore_but2">Buy
                now!</a> </div>
    </div>
</div>
<!--end punch text-->
<div class="clearfix"></div>
<div class="section_holder36">
    <div class="container">
        <h1 class="lt_title_medium">People <span>Says</span></h1>
        <div class="section_title_line_full"></div>
        <div class="clearfix"></div>
        <section class="slider">
            <div class="flexslider style6">
                <ul class="slides">
                    <li>
                        <div class="one_half">
                            <div class="text_holder">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit dolor sit.
                                    SuspendissejPraesent mattis
                                    commodo augue. dolor et Aliquam ornare hendrerit augue Lorem ipsum dolor sit amet,
                                    consectetuer
                                </p>
                            </div>
                            <div class="img_holder"><img src="assets/images/site-img62.jpg" alt="" /></div>
                            <div class="text">
                                <h6 class="lessmar2">Charlotte Oliver</h6>
                                <p>Support - <span class="blue">Mediatricks</span></p>
                            </div>
                        </div>
                        <!--end item-->

                        <div class="one_half last">
                            <div class="text_holder">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit dolor sit.
                                    SuspendissejPraesent mattis
                                    commodo augue. dolor et Aliquam ornare hendrerit augue Lorem ipsum dolor sit amet,
                                    consectetuer
                                </p>
                            </div>
                            <div class="img_holder"><img src="assets/images/site-img63.jpg" alt="" /></div>
                            <div class="text">
                                <h6 class="lessmar2">John Doe</h6>
                                <p>Marketing - <span class="blue">Mediatricks</span></p>
                            </div>
                        </div>
                        <!--end item-->
                    </li>
                    <!--end item-->

                    <li>
                        <div class="one_half">
                            <div class="text_holder">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit dolor sit.
                                    SuspendissejPraesent mattis
                                    commodo augue. dolor et Aliquam ornare hendrerit augue Lorem ipsum dolor sit amet,
                                    consectetuer
                                </p>
                            </div>
                            <div class="img_holder"><img src="assets/images/site-img62.jpg" alt="" /></div>
                            <div class="text">
                                <h6 class="lessmar2">Charlotte Oliver</h6>
                                <p>Support - <span class="blue">Mediatricks</span></p>
                            </div>
                        </div>
                        <!--end item-->

                        <div class="one_half last">
                            <div class="text_holder">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit dolor sit.
                                    SuspendissejPraesent mattis
                                    commodo augue. dolor et Aliquam ornare hendrerit augue Lorem ipsum dolor sit amet,
                                    consectetuer
                                </p>
                            </div>
                            <div class="img_holder"><img src="assets/images/site-img63.jpg" alt="" /></div>
                            <div class="text">
                                <h6 class="lessmar2">John Doe</h6>
                                <p>Marketing - <span class="blue">Mediatricks</span></p>
                            </div>
                        </div>
                        <!--end item-->
                    </li>
                    <!--end item-->
                </ul>
            </div>
        </section>
    </div>
</div>
<!--end section-->
<div class="clearfix"></div>
<div class="section_holder37">
    <div class="container">
        <h1 class="lt_title_medium">Our <span>Clients</span></h1>
        <div class="section_title_line_full"></div>
        <div class="clearfix"></div>
        <section class="slider">
            <div class="flexslider style4 carousel">
                <ul class="slides">
                    <li>
                        <div class="clint_logo">
                            <div class="hover_line"></div>
                            <img src="assets/images/site-img64.png" alt="" />
                        </div>
                    </li>
                    <li>
                        <div class="clint_logo">
                            <div class="hover_line"></div>
                            <img src="assets/images/site-img65.png" alt="" />
                        </div>
                    </li>
                    <li>
                        <div class="clint_logo">
                            <div class="hover_line"></div>
                            <img src="assets/images/site-img66.png" alt="" />
                        </div>
                    </li>
                    <li>
                        <div class="clint_logo">
                            <div class="hover_line"></div>
                            <img src="assets/images/site-img67.png" alt="" />
                        </div>
                    </li>
                    <li>
                        <div class="clint_logo">
                            <div class="hover_line"></div>
                            <img src="assets/images/site-img68.png" alt="" />
                        </div>
                    </li>
                    <li>
                        <div class="clint_logo">
                            <div class="hover_line"></div>
                            <img src="assets/images/site-img69.png" alt="" />
                        </div>
                    </li>
                    <li>
                        <div class="clint_logo">
                            <div class="hover_line"></div>
                            <img src="assets/images/site-img64.png" alt="" />
                        </div>
                    </li>
                    <li>
                        <div class="clint_logo">
                            <div class="hover_line"></div>
                            <img src="assets/images/site-img65.png" alt="" />
                        </div>
                    </li>
                    <li>
                        <div class="clint_logo">
                            <div class="hover_line"></div>
                            <img src="assets/images/site-img66.png" alt="" />
                        </div>
                    </li>
                    <li>
                        <div class="clint_logo">
                            <div class="hover_line"></div>
                            <img src="assets/images/site-img67.png" alt="" />
                        </div>
                    </li>
                    <li>
                        <div class="clint_logo">
                            <div class="hover_line"></div>
                            <img src="assets/images/site-img68.png" alt="" />
                        </div>
                    </li>
                    <li>
                        <div class="clint_logo">
                            <div class="hover_line"></div>
                            <img src="assets/images/site-img69.png" alt="" />
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>