<div class="clearfix"></div>
<div class="section_holder33">
    <div class="container">
        <h1 class="lt_title_big">Our <span>Plans</span></h1>
        <div class="lt_title_line"></div>
        <p class="lt_title_bottomtext">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo.
            Praesent mattis commodo augue. Aliquam ornare hendrerit augue</p>
        <div class="price_table_holder">
            <div class="price_table">
                <div class="plan_info">
                    <h2 class="title">Basic</h2>
                    <div class="price"><sup>$</sup>9.99 <i>/ mo</i></div>
                    <ul class="plan_features two">
                        <li>1 GB Bandwidth</li>
                        <li>256 MB Memory</li>
                        <li>24/7 Full Support</li>
                        <li>256 MB Memory</li>
                        <li>24/7 Full Support</li>
                    </ul>
                    <div class="margin_top3"></div>
                    <a class="singup_but" href="#">Order Now</a>
                </div>
                <br />
                <br />
            </div>
            <div class="shadow_box"></div>
        </div>

        <!--end item-->

        <div class="price_table_holder">
            <div class="price_table">
                <div class="plan_info">
                    <h2 class="title">Standard</h2>
                    <div class="price"><sup>$</sup>29.99 <i>/ mo</i></div>
                    <ul class="plan_features two">
                        <li>1 GB Bandwidth</li>
                        <li>256 MB Memory</li>
                        <li>24/7 Full Support</li>
                        <li>24/7 Full Support</li>
                        <li>256 MB Memory</li>
                    </ul>
                    <div class="margin_top3"></div>
                    <a class="singup_but" href="#">Order Now</a>
                </div>
                <br />
                <br />
            </div>
        </div>
        <!--end item-->

        <div class="price_table_holder">
            <div class="price_table active">
                <div class="arrow"></div>
                <div class="arrow two"></div>
                <div class="arrow three"></div>
                <div class="arrow four"></div>
                <div class="plan_info">
                    <h2 class="title">Premium</h2>
                    <div class="price"><sup>$</sup>39.99 <i>/ mo</i></div>
                    <ul class="plan_features two">
                        <li>1 GB Bandwidth</li>
                        <li>256 MB Memory</li>
                        <li>24/7 Full Support</li>
                        <li>24/7 Full Support</li>
                        <li>256 MB Memory</li>
                    </ul>
                    <div class="margin_top3"></div>
                    <a class="singup_but" href="#">Order Now</a>
                </div>
                <br />
                <br />
            </div>
        </div>
        <!--end item-->

        <div class="price_table_holder">
            <div class="price_table">
                <div class="plan_info">
                    <h2 class="title">Unlimited</h2>
                    <div class="price"><sup>$</sup>69.99 <i>/ mo</i></div>
                    <ul class="plan_features two">
                        <li>1 GB Bandwidth</li>
                        <li>256 MB Memory</li>
                        <li>24/7 Full Support</li>
                        <li>24/7 Full Support</li>
                        <li>256 MB Memory</li>
                    </ul>
                    <div class="margin_top3"></div>
                    <a class="singup_but" href="#">Order Now</a>
                </div>
                <br />
                <br />
            </div>
            <div class="shadow_box"></div>
        </div>
        <!--end item-->

    </div>
</div>
<!--end section-->