<div class="clearfix"></div>
<div class="section_holder33 margin_bottom5">
    <div class="container">
        <h1 class="lt_title_big">Our <span>Plans</span></h1>
        <div class="lt_title_line"></div>
        <p class="lt_title_bottomtext" style="margin-bottom: 120px;">Fast, secure, and affordable hosting plans for any budget
        </p>
        <div class="price_table_st2">
            <div class="arrow_up"></div>
            <div class="text_holder">
                <div class="price">
                    <h1 class="white padd_top5">$1.48</h1>
                </div>
                <h2 class="white bold lessmar">Basic</h2>
                <p>Monthly Plan</p>
                <div class="line"></div>
                <ul class="list">
                    <li>Domain Name</li>
                    <li>3 Websites</li>
                    <li>20 GB SSD</li>
                    <li>30 Domain-Based Mailboxes</li>
                    <li class="last">&nbsp;</li>
                    </ul>
                <div class="clearfix"></div>
                <a class="but" href="#">Buy Now</a>
                </div>
            <div class="arrow_down"></div>
            </div>
        <!--end item-->
        <div class="price_table_st2 active">
            <div class="arrow_up"></div>
            <div class="text_holder">
                <div class="price">
                    <h1 class="white padd_top5">$2.18</h1>
                </div>
                <h2 class="white bold lessmar">Standard</h2>
                <p>Monthly Plan</p>
                <div class="line"></div>
                <ul class="list">
                    <li>Domain Name</li>
                    <li>Unlimited Websites</li>
                    <li>Unmetered SSD</li>
                    <li>Unlimited Domain-Based Mailboxes
                    </li>
                    <li class="last">AutoBackup</li>
                </ul>
                <div class="clearfix"></div>
                <a class="but" href="#">Buy Now</a>
                </div>
            <div class="arrow_down"></div>
        </div>
        <!--end item-->
        <div class="price_table_st2 last">
            <div class="arrow_up"></div>
            <div class="text_holder">
                <div class="price">
                    <h1 class="white padd_top5">$4.98</h1>
                </div>
                <h2 class="white bold lessmar">Unlimited</h2>
                <p>Monthly Plan</p>
                <div class="line"></div>
                <ul class="list">
                    <li>Domain Name</li>
                    <li>Unlimited Websites</li>
                    <li>50 GB SSD</li>
                    <li>Unlimited Domain-Based Mailboxes</li>
                    <li class="last">AutoBackup & Cloud Storage</li>
                    </ul>
                <div class="clearfix"></div>
                <a class="but" href="#">Buy Now</a>
                </div>
            <div class="arrow_down"></div>
        </div>
        <!--end item-->

    </div>
    <div class="margin_top5"></div>
</div>
<!--end section-->

